body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  font-family: monospace;
  height: 100%;
}

html {
  height:100%;
}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}





@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

a {
  color: #230c61;
  text-decoration: none;
  transition: 1s delay 0.5s;
  text-decoration: underline;
}

.underline-one {
  color: #00bfff;
  /* Цвет обычной ссылки */
  position: relative;
  cursor: pointer;
  text-decoration: none;
  /* Убираем подчеркивание */
}

.underline-one:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: black;
  /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.underline-one:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  /* Высота линии */
  background-color: rgb(0, 0, 0);
  /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;
  /* Время эффекта */
}



#global_div{
  width: 500px;
  height: 900px;
}

/* ///////////////////////////// */
#content {
  width: 600px;
display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}


/* pagination */
.pagination {
  margin: 40px 0;
  font-weight: bold;
}

/* forms */
label {
  float: left;
  clear: both;
  color: #140952;
  margin-bottom: 4px;
}

input,
textarea {
  clear: both;
  float: left;
  margin: 0 0 10px;
  background: #ededed;
  border: 0;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 10px;
}

input[type=submit] {
  font-weight: bold;
  background: #352cdf;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
}

.errorlist {
  color: #cc0033;
  float: left;
  clear: both;
  padding-left: 10px;
}

/* comments */
.comment {
  padding: 10px;
}

.comment:nth-child(even) {
  background: #4d0d6b;
  border-radius: 10px;
  color: #74fd4a;
} 

.comment .info {
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}
.add_new_post{
  width: 100px;
  height: 30px;
  background-color: rgb(56, 139, 194);
  margin-left: 93%;
  position: absolute;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #221c1c;
  
}

.latest_post{
margin-top: -1000px;
  position: absolute;
}